---
name: Upload Python Package

# yamllint disable-line rule:truthy
on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes python3-build python3-wheel

      - name: Build
        run: |
          python3 -m build

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist

  pypi-publish:
    needs: ['build']
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/prometheus-pve-exporter/
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/download-artifact@v3

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
